.my-row-Row {
    color: var(--oxford-blue);
    transition: background-color 100ms;
    /*
    &:nth-child(2n) td {
        background: rgba(230, 230, 250, 0.35);
    }
    */


    td {
        border-bottom: 1px solid var(--lavender);
        background: var(--white);
        &:first-of-type {
            border-left: 1px solid var(--lavender);
        }
        &:last-of-type {
            border-right: 1px solid var(--lavender);
        }
    }

    &:last-of-type {
        td:first-of-type {
            border-bottom-left-radius: 0.125rem;
        }

        td:last-of-type {
            border-bottom-right-radius: 0.125rem;
        }
    }

}