.my-row-Row {
    color: rgba(var(--oxford-blue), 0.65);
    transition: background-color 100ms;

    &:hover td {
        background: var(--lavender);
        transition: background-color 100ms;
    }

    td {
        border-bottom: 1px solid var(--lavender);
        background: var(--ghost-white);
        &:first-of-type {
            border-left: 1px solid var(--lavender);
        }
        &:last-of-type {
            border-right: 1px solid var(--lavender);
        }
    }

    &:last-of-type {
        td:first-of-type {
            border-bottom-left-radius: 0.125rem;
        }

        td:last-of-type {
            border-bottom-right-radius: 0.125rem;
        }
    }

}