@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --oxford-blue: #0C1B3D;
  --school-bus-yellow: #FFDD00;
  --ghost-white: #F8F7FF;
  --lavender: lavender;

  color-scheme: light dark;
  color: var(--oxford-blue);
  background-color: var(--ghost-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

body {

}

