@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --oxford-blue: rgb(12, 27, 61);
  --school-bus-yellow: rgb(255, 221, 0);
  --ghost-white: rgba(248, 247, 255);
  --lavender: rgba(230, 230, 250);
  --slate-gray: rgba(121, 138, 158);
  --tabs-gray: rgba(245, 245, 245);

  color-scheme: light dark;
  color: var(--oxford-blue);
  /* background-color: var(--ghost-white); */
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

body {

}

